<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <% if participation_check == 0 %>
          <small>
            <%= "#{@user.name} has not submitted any posts or comments yet." %>
          </small>
        <% else %>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>
            <%= pluralize(@user.comments.count, 'comment') %>
          <small>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h4>Posts</h4>
<%= render @user.posts %>

<h4>Comments</h4>
<%= render @user.comments %>

<h4>Favorited Posts</h4>
<% p favorites_finder(@user) %>
